body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  display: inline-block;
  text-align: center;
  width: 1200px;
  height: 700px;

}
.listcontainer{
 
  display: inline-block;
  width: 80%;
 margin: 5px 2px;
 border-bottom: solid black 1px;
 padding: 15px;
  
}
.pic{
  
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 2px 10px;
  

}
.streamh{
  display: inline-block;
 
  margin: 2px 10px;
}
.item{
  display: inline-block;
 
  width: 90%;
  text-align: left;
}
.editbutton{
  float: right;
  margin: auto 3px;
  height: 25px;
}
.deletebutton{
  float: right;
  margin: auto 3px;
  height: 25px;
}
.streamitems{
  display: inline-block;
}
.descriptiontag{
  margin-left: 15px;
}
.createbutton{
  display: flex;
  margin: 20px auto;
  height: 25px;
  
}
.createbutton:hover{
 cursor: pointer;
}
.editbutton:hover{
  cursor: pointer;
}
.deletebutton:hover{
  cursor: pointer;
}